
<button id='joinGame'>Join Game</button>
<div id='waiting'></div>
<div id='you'></div>
<div id='opponent'></div>



<script src="/js/socket.io.min.js"></script>
<script src="/js/start-game.js"></script>