
<button id='joinGameButton'>Join Game</button>
<button id="leaveWaitingRoom" style="display: none;">Leave Waiting Room</button>
<div id='waiting'></div>
<div id='gameRoom'></div>
<div id='opponent'></div>
<div id="opponentDrawPile"></div>
<div id="opponentHand"></div>
<div id='opponentPlayingHand'></div>
<div id='opponentDiscardPile'></div>
<div id='opponentPlayTracker' style="display: block;">
  <div id='opponentActionsAvailable'></div>
  <div id='opponentBuysAvailable'></div>
  <div id='opponentTreasure'></div>
</div>




<div id='you'></div>
<div id="yourDrawPile"></div>
<div id="yourHand"></div>
<div id='yourPlayingHand'></div>
<div id="yourDiscardPile"></div>
<div id='yourPlayTracker' style="display: none;">
  <div id='yourActionsAvailable'></div>
  <div id='yourBuysAvailable'></div>
  <div id='yourTreasure'></div>
</div>

<button id='discardButton' style="display: none;">Discard</button>




<div id='supply' style="display: none;">
  <div id='supplyCoins'></div>
  <div id='supplyVictory'></div>
</div>


<di></div>





<script src="/js/socket.io.min.js"></script>
<script src="/js/start-game.js" type="module" ></script>





