  <div id='supply' style="display: none;">
    <div id='supplyCoins' class="d-flex flex-row"></div>
    <div id='supplyVictory' class="d-flex flex-row"></div>
    <div id='supplyAction' class="d-flex flex-row"></div>
  </div>